{% if search2 == 0 %}
 <div class="boxTitle91 mt-3 mx-5">
        <h4>Top Instructors0 </h4>
      </div> 

      <div class="instructorCards1" >
    <section class="review instructorCards">
        <div class="row">
            <!-- Boucle pour chaque carte -->
            {% for contributor in contributors1 %}
                <div class="swiper review-slider col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide box">
                            <i class="fas fa-quote-left"></i>
                            <i class="fas fa-quote-right"></i>
                           
                            <div class="float-end">
                                <i class="bi bi-heart" style="font-size:21px;color:#a8a5a5;"></i>
                            </div>
                            <img src="{{ contributor.user.photo }}" alt="">
                            
                            <div class="d-flex justify-content-center">
                                <h6 class="name-instructor-one fw-bold text-center">
                                    {{ contributor.user.firstname }}
                                    {% if contributor.user.isVerified() %}
                                        <i class="bi bi-check2-circle"></i>
                                    {% endif %}
                                </h6>
                            </div>
                            <div class="profession-one d-flex justify-content-center text-center">
                                <span>{{ contributor.contributor.domaine }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/certified11.png') }}">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/certificate1.png') }}" alt="">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/relationPeople1png.png') }}">
                            </div>
                            <div class="d-flex justify-content-between">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/lisBook.png') }}" alt="">
                                <div class="mt-2" style="font-size:14px;">
                                    <div class="d-flex justify-content-center" style="padding-left:20px !important; padding-right:30px !important; margin-left:5px;">
                                        <i class="fa-solid fa-user-large" style="color:#01132b;"></i>
                                        <i class="fa-solid fa-user-large" style="color:#524f4f; margin-left:-5px;"></i>
                                        <i class="fa-solid fa-user-large" style="color:rgb(216,81,125); margin-left:-5px;"></i>
                                    </div>
                                    <span class="fw-bold">{{ contributor.followers }}</span>
                                </div>
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/hand1.png') }}" alt="">
                            </div>
                            <div class="d-flex" style="justify-content:space-between !important;">
                                <div class="mr-3">
                                    <i class="fas fa-book"></i> {{ contributor.contributor.id }} Courses
                                </div>
                                <div class="mr-3 mx-3">
                                    <i class="fas fa-star"></i> {{ contributor.ratings }} ({{ contributor.contributor.id }})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endif %}
 <!-- Searched Instructors section -->
 {% if search2 == 1 %}
 <div class="boxTitle91 mt-3 mx-5">
        <h4>Exclusive Top Instructors: Elevate Your Skills with
   
    {% if search2 == 1 %}
        <span style="color: red;">"{{query}}"</span>
    {% else %}
     <span style="color: red;"></span>
    {% endif %}
    
        - Tailored Just for You </h4>
      </div> 

      <div class="instructorCards1">
    <section class="review instructorCards">
        <div class="row">
            <!-- Boucle pour chaque carte -->
            {% set displayedIds = [] %}
            {% for contributor in contributors1 %}
            {% for am in contributorFinal %}
                        {% if am.idUser == contributor.user.id and am.id not in displayedIds %}
                        {% set displayedIds = displayedIds|merge([am.id]) %}
                <div class="swiper review-slider col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide box">
                            <i class="fas fa-quote-left"></i>
                            <i class="fas fa-quote-right"></i>
                           
                            <div class="float-end">
                                <i class="bi bi-heart" style="font-size:21px;color:#a8a5a5;"></i>
                            </div>
                            <img src="{{ contributor.user.photo }}" alt="">
                            
                            <div class="d-flex justify-content-center">
                                <h6 class="name-instructor-one fw-bold text-center">
                                    {{ contributor.user.firstname }}
                                    {% if contributor.user.isVerified() %}
                                        <i class="bi bi-check2-circle"></i>
                                    {% endif %}
                                </h6>
                            </div>
                            <div class="profession-one d-flex justify-content-center text-center">
                                <span>{{ am.domaine }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/certified11.png') }}">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/certificate1.png') }}" alt="">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/relationPeople1png.png') }}">
                            </div>
                            <div class="d-flex justify-content-between">
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/lisBook.png') }}" alt="">
                                <div class="mt-2" style="font-size:14px;">
                                    <div class="d-flex justify-content-center" style="padding-left:20px !important; padding-right:30px !important; margin-left:5px;">
                                        <i class="fa-solid fa-user-large" style="color:#01132b;"></i>
                                        <i class="fa-solid fa-user-large" style="color:#524f4f; margin-left:-5px;"></i>
                                        <i class="fa-solid fa-user-large" style="color:rgb(216,81,125); margin-left:-5px;"></i>
                                    </div>
                                    <span class="fw-bold">{{ contributor.followers }}</span>
                                </div>
                                <img src="{{ asset('../vendor/hatlone/safa/search/assets/imgs/hand1.png') }}" alt="">
                            </div>
                            <div class="d-flex" style="justify-content:space-between !important;">
                                <div class="mr-3">
                                    <i class="fas fa-book"></i> {{ am.id }} Courses
                                </div>
                                <div class="mr-3 mx-3">
                                    <i class="fas fa-star"></i> {{ contributor.ratings }} ({{ am.id }})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
</div>
{% endif %}
 <!--End searched instructores section -->
 <!--==============================================================instructors row2-->
    <style>
    /* instructor cards style */
    

.review .review-slider {
    padding: 0;
    font-size:13px;
    padding-bottom:4rem !important;
    padding-left:2px !important;
    padding-right:2px !important;
 
    
  

}
.instructorCards1 .d-flex img{
      width: 80px !important;
    height: 50px !important;
    filter: brightness(1.2); /* Augmente la luminosité de 20% */
    opacity: 0.8; /* Réduit l'opacité à 80% */

}


.review .review-slider .box {
   /* border: var(--border);*/
   /* border-radius: var(--border-radius);*/
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   border-radius: 20px !important;
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 1rem;
   /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;*/
   margin-top:12px !important;

  
}

.review .review-slider .box .fa-quote-left {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    font-size:20px;
    color: #ccc;
    z-index: -1;
    display:none;
}

.review .review-slider .box .fa-quote-right {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    font-size: 20px;
    color: #ccc;
    z-index: -1;
    display:none;
}

.review .review-slider .box:hover .fa-quote-left {
    top: -6.5rem;
}

.review .review-slider .box:hover .fa-quote-right {
    bottom: -6.5rem;
}

.review .review-slider .box img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

.review .review-slider .box .stars {
    padding: .5rem 0
}

.review .review-slider .box .stars i {
    font-size:14px;
  
}

.review .review-slider .box p {
    font-size:12px;
    color: #443;
    padding: 1rem 0;
    line-height: 1.8;
}

.review .review-slider .box h3 {
    font-size: 12px;
    color: #443;
    line-height: 1.8;
}

.review .review-slider .box span {
    font-size: 12px;
    color: #443;
}
.review .bi-check2-circle{
       color : rgb(216,81,125) !important;
}
.review .mr-3{
       font-weight:700;
}



    </style>
      
   <!--==============================================================instructors row3-->
   
      
    


    </main>

    <button id="back-to-top">
      <i class="bi bi-arrow-up-short"></i>
    </button>
    

        
    <style>
    .uk-slider-container-offset {
    display: flex;
    justify-content: space-between; /* Distribue l'espace disponible de manière égale entre les éléments enfants */
    align-items: center; /* Centre verticalement les éléments enfants */
}
@media only screen and (min-width: 1230px)  {
  .review .review-slider .box {
    width:97%;
      box-sizing: border-box !important;
  }
}
@media only screen and (max-width: 1230px) and (min-width: 1070px) {
  .review .review-slider  {
    width:50%;
      box-sizing: border-box !important;
  }
}
@media only screen and (max-width: 1070px)  {
  .review .review-slider .box {
    width:97%;
      box-sizing: border-box !important;
  }
}
@media only screen and (max-width: 600px) and (min-width: 349px)  {
    .review .review-slider .box {
      width:90%;
   margin-left:20px !important;
  }
}

@media only screen and (min-width: 600px)  {
  .navMobile .text-white .categories {
  
 margin-left:10em;
  }
   .navMobile .search-container2 form input {
    width:160px;
  
 
  }
}
@media only screen and (min-width: 2400px) {
  .leftpane {
     margin-left:-35em;
   

    }
    .middlepane {

  width:130%;

  }
  

}
@media only screen and (max-width: 1350px) {
  .navLaptop .rightNav .logOutDiv ,.navLaptop .rightNav .loginDiv{
   font-size:11px !important;
  }
  .navLaptop .rightNav {
  margin-left:-3.6em;
  
  }
   .navLaptop .text-white .dropdown .categories, .navLaptop  .subscriptions , .navLaptop  .business{
font-size:13px !important;

  }
   .navLaptop .bi-cart3{
    font-size:13px !important;
     margin-top:0em !important;
  }
   .navLaptop .fa-globe{
    font-size:11px !important;
  }
  .navLaptop .fa-globe{
   margin-top:-0.8em !important;
  }

  .navLaptop .search-container input {
    width:140px !important;
  }
   .navLaptop .logo {
    font-size:18px !important;
  }


}
@media only screen and (min-width: 950px) and (max-width: 1280px) {

  .navLaptop .text-white .dropdown .categories, .navLaptop  .subscriptions , .navLaptop  .business{
font-size:13px !important;


  }
  .navLaptop .bi-cart3{
    font-size:15px !important;
  }
   .navLaptop .fa-globe{
    font-size:13px !important;
  }
 .navLaptop .fa-globe{
   margin-top:0.2em !important;
  }
  .navLaptop .search-container input {
    width:140px !important;
  }


}

 


 
  




























 


 @media (max-width: 1024px) and (min-width: 724px) {

  .middlepane .posts{

    width:310px !important;
    /*  width:900px !important; */
  

  }


 

}


@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .middlepane .boxCourse{
  width:78%;
 

}
 .middlepane .coachings{
  width:78%;
 

}

}

@media only screen and (max-width: 1200px) and (min-width: 1070px) {
  .middlepane .boxCourse{
  width:94%;
 

}
 .middlepane .coachings{
  width:94%;
 

}

}
@media only screen and (max-width: 1070px) and (min-width: 991px) {
  .posts{
margin-left:-12px !important;
 }


.uk-position-center-left {
    margin-right: 10px; /* Marge à droite fixe */
}

.uk-position-center-right {
    margin-left:10px; /* Marge à gauche fixe */
}

.middlepane .boxCourse .uk-slider-items{
  width:100%;
margin-left:10px;
}


.middlepane .boxCourse .post{
 width:228px;
}
.middlepane .boxCourse .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .boxCourse .post .teacher span{
  font-size:10px;
  
}
.middlepane .boxCourse .post .teacher .bi-star-fill{
  font-size:8px;
  
}
.middlepane .boxCourse .post .heart-button{
  margin-left:-55px;
}

.middlepane .boxCourse .post .icones1{
  margin:0;
  font-size:11px;
}

}
@media only screen and (max-width: 992px) and (min-width: 768px) {

 .posts{
  margin-left:-2.4em;
 }
 .boxCourse .uk-position-center-left {
    margin-right: 10px;
}

.boxCourse .uk-position-center-right {
    margin-left:10px; 
}

.middlepane .boxCourse{
  width:118%;
  margin:0;
  paddin-left:15px;
  padding-right:10px;
}
/*cards view tablette */
.middlepane .boxCourse .post{
 width:210px;
}
.middlepane .boxCourse .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .boxCourse .post .teacher span{
  font-size:10px;
  
}
.middlepane .boxCourse .post .teacher .bi-star-fill{
  font-size:8px;
  
}
.middlepane .boxCourse .post .heart-button{
  margin-left:-60px;
}
.middlepane .boxCourse .post .cart-icon{
  margin-left:-60px !important;
}


.middlepane .boxCourse .post .icones1{
  margin:0;
  font-size:11px;
}


}
@media only screen and (width: 768px) {
    .middlepane .boxCourse{
  width:78% !important;


}
 

  
}

@media only screen and (max-width: 768px) and (min-width: 724px){
    .posts{
  margin-left:-2.4em;
 }
 .boxCourse .uk-position-center-left {
    margin-right: 50px;
}

.boxCourse .uk-position-center-right {
 margin-right: -37px !important;
}

.middlepane .boxCourse{
  width:103%;
margin-left:-20px !important;
}
/*cards view tablette */
.middlepane .boxCourse .post{
 width:210px;
}
.middlepane .boxCourse .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .boxCourse .post .teacher span{
  font-size:10px;
  
}
.middlepane .boxCourse .post .teacher .bi-star-fill{
  font-size:8px;
  
}
.middlepane .boxCourse .post .heart-button{
  margin-left:-60px;
}
.middlepane .boxCourse .post .cart-icon{
  margin-left:-60px !important;
}


.middlepane .boxCourse .post .icones1{
  margin:0;
  font-size:11px;
}


} 
@media only screen and (max-width: 724px) and (min-width: 580px){
 .posts{
  margin-left:-2.4em;
 }
 .boxCourse .uk-position-center-left {
    margin-right: 50px;
}

.boxCourse .uk-position-center-right {
 margin-right: -37px !important;
}

.middlepane .boxCourse{
  width:103%;
margin-left:-20px !important;
}
/*cards view tablette */
.middlepane .boxCourse .post{
 width:210px;
}
.middlepane .boxCourse .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .boxCourse .post .teacher span{
  font-size:10px;
  
}
.middlepane .boxCourse .post .teacher .bi-star-fill{
  font-size:8px;
  
}
.middlepane .boxCourse .post .heart-button{
  margin-left:-60px;
}
.middlepane .boxCourse .post .cart-icon{
  margin-left:-60px !important;
}


.middlepane .boxCourse .post .icones1{
  margin:0;
  font-size:11px;
}


}
@media only screen and (max-width: 580px) and (min-width: 450px){

 .boxCourse .uk-position-center-left {
    margin-right: 50px;
}

.boxCourse .uk-position-center-right {
 margin-right: -37px !important;
}

.middlepane .boxCourse .posts {
  width:100%;
  margin-left:-10px !important;

}

.middlepane .boxCourse .post{
 width:210px;
 margin-right:10px!important;
 margin-left:-10px !important;
}
.middlepane .boxCourse .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .boxCourse .post .teacher span{
  font-size:10px;
  
}
.middlepane .boxCourse .post .teacher .bi-star-fill{
  font-size:8px;
  
}
.middlepane .boxCourse .post .heart-button{
  margin-left:-60px;
}
.middlepane .boxCourse .post .cart-icon{
  margin-left:-60px !important;
}


.middlepane .boxCourse .post .icones1{
  margin:0;
  font-size:11px;
}


}

@media only screen and (max-width: 450px) {

 .boxCourse .uk-position-center-left {
    margin-right: 50px;
}

.boxCourse .uk-position-center-right {
 margin-right: -37px !important;
}

.middlepane .boxCourse .posts {
  width:100%;
  margin-left:2px !important;

}

.middlepane .boxCourse .post{
 width:240px;
 margin-right:60px!important;
}
.middlepane .boxCourse .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .boxCourse .post .teacher span{
  font-size:10px;
  
}
.middlepane .boxCourse .post .teacher .bi-star-fill{
  font-size:8px;
  
}
.middlepane .boxCourse .post .heart-button{
  margin-left:-60px;
}
.middlepane .boxCourse .post .cart-icon{
  margin-left:-60px !important;
}


.middlepane .boxCourse .post .icones1{
  margin:0;
  font-size:11px;
}


}





@media only screen and (max-width: 1070px) and (min-width: 991px) {
.middlepane .coachings .uk-position-center-left {
   
}

.middlepane .coachings .uk-position-center-right {
  
}

.middlepane .coachings .uk-position-center-right {
  margin-right:-37px !important;
}

 
 .middlepane .coachingPosts{
  margin-left:-4em;
 }
.middlepane .coachings{
  width:100% !important;

}
.middlepane .coachings .post{
 width:228px !important;
}
 .middlepane .coachings .post .teacher img{

 width:40px;
 height:40px;
  
}



.middlepane .coachings .post .teacher .intructorProfile strong  {
 font-size:10px;
margin-left:-4.5em;

}
.middlepane .coachings .post .teacher .intructorProfile .moy  {



}
.middlepane .coachings .post .teacher span {
  font-size:10px;
  margin-left:-5px;
  
}
.middlepane .coachings .post .icons-title .heart-button-coach{
    margin-left:-1em;
    
}


.middlepane .coachings .post .teacher .bi-star-fill{
  font-size:8px;
 
  
}
 


}

@media only screen and (max-width: 991px) and (min-width: 724px) {
 

.middlepane .coachings .uk-position-center-right {
  margin-right:-37px !important;
}

.middlepane .coachings{
  width:120%;
  margin-left:-10px !important;
  
}
.middlepane .coachings .post{
 width:220px !important;
 margin-right:5px !important;
}
 .middlepane .coachings .post .teacher img{

 width:40px;
 height:40px;
  
}



.middlepane .coachings .post .teacher .intructorProfile strong  {
 font-size:10px;
margin-left:-4.5em;

}

.middlepane .coachings .post .teacher span {
  font-size:10px;
  margin-left:-5px;
  
}
.middlepane .coachings .post .icons-title .heart-button-coach{
    margin-left:-1em;
    
}


.middlepane .coachings .post .teacher .bi-star-fill{
  font-size:8px;
 
  
}

}
@media only screen and (max-width:500px)   {
  
 .bi-list-ul{
  display:none ;
 } 
  .middlepane .coachings .uk-position-center-left{

  }
 .middlepane .coachings .uk-position-center-right{
 
  }
.middlepane .coachings .post{
 width:280px !important;
 margin-right:40px !important;
 margin-left:10px !important;
}
 .middlepane .coachings .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .coachings .post .teacher .intructorProfile strong  {


margin-left:-3.5em;
}
.middlepane .coachings .post .teacher span {
  font-size:10px;
  margin-left:-5px;
  
}
.middlepane .coachings .post .icons-title .heart-button-coach{
    margin-left:-2em;
}


.middlepane .coachings .post .teacher .bi-star-fill{
  font-size:8px;
  
}



}
@media only screen and (max-width: 724px)  and (min-width: 500px) {
  
 .bi-list-ul{
  display:none ;
 } 
 
 .middlepane .coachings .uk-position-center-right{
 
  }
.middlepane .coachings .post{
 width:210px !important;
}
 .middlepane .coachings .post .teacher img{

 width:40px;
 height:40px;
  
}
.middlepane .coachings .post .teacher .intructorProfile strong  {


margin-left:-3.5em;
}
.middlepane .coachings .post .teacher span {
  font-size:10px;
  margin-left:-5px;
  
}
.middlepane .coachings .post .icons-title .heart-button-coach{
    margin-left:-2em;
}


.middlepane .coachings .post .teacher .bi-star-fill{
  font-size:8px;
  
}



}
/*leftPane*/
@media only screen and (min-width: 1230px)and (max-width: 1440px)   {
  .leftpaneMobile{
    display:none !important;
  }
    .leftpane .leftpane-title {
        margin-left:50px !important;

    }
  
    .leftpane label {
    
        white-space:nowrap !important;
    }
    .leftpane .container-product {

  
        margin-left:30px !important;
    }
    .leftpane .container-level {

          margin-left:30px !important;
    }
     .leftpane .container-category .fw-bold {

         margin-left:30px !important;
    }
     .leftpane .container-category label {
      
  margin-left:30px !important;
       
    }
    

   
    .leftpane .container-duration {

        /*margin-left:2em;*/
          margin-left:30px !important;
    }
    .leftpane .container-language {

        /*margin-left:2em;*/
          margin-left:30px !important;
    }
    .leftpane .range {

     
          margin-left:30px !important;
      
    }
    
  
    .leftpane .skill-container {

        /*margin-left:2em;*/
          margin-left:30px !important;
    }
     .leftpane .container-rating .fw-bold{
        margin-left:30px !important;  
     }
   
 .container-certificate label,  .container-certificate .fw-bold{

     
          margin-left:20px!important;

    }
    .container-content label,  .container-content .fw-bold{

     
          margin-left:20px!important;

    }
    .leftpane .container-rating label{
   
        margin-left:30px !important;

    }
      .leftpane li{
          white-space:nowrap !important;
      }


}

@media only screen and (min-width: 1070px)and (max-width: 1200px)  {
    
  .leftpaneMobile{
    display:none !important;
  }
    .leftpane .leftpane-title {
      
        font-size:18px;

    }
    .leftpane .fw-bold {
       font-size:14px;

    }
    .leftpane label {
        font-size:14px;
       
    }
    
    .leftpane .range {
        font-size:13px;
    }
    .range .range-price .from ,    .range .range-price input {

        font-size:12px;
    }
    
    .leftpane .skill-container span {

        font-size:13px;
    }
   
      .leftpane li{
          white-space:nowrap !important;
      }


      .leftpane .leftpane-title {
        margin-left:50px !important;

    }
  
    .leftpane label {
    
        white-space:nowrap !important;
    }
    .leftpane .container-product {

  
        margin-left:30px !important;
    }
    .leftpane .container-level {

          margin-left:30px !important;
    }
     .leftpane .container-category .fw-bold {

         margin-left:30px !important;
    }
     .leftpane .container-category label {
      
  margin-left:30px !important;
       
    }
    

   
    .leftpane .container-duration {

        /*margin-left:2em;*/
          margin-left:30px !important;
    }
    .leftpane .container-language {

        /*margin-left:2em;*/
          margin-left:30px !important;
    }
    .leftpane .range {

        /*margin-left:2em;*/
          margin-left:30px !important;
      
    }
  
    .leftpane .skill-container {

        /*margin-left:2em;*/
          margin-left:30px !important;
    }
     .leftpane .container-rating .fw-bold{
        margin-left:30px !important;  
     }
   
 .container-certificate label,  .container-certificate .fw-bold{

     
          margin-left:20px!important;

    }
    .container-content label,  .container-content .fw-bold{

     
          margin-left:20px!important;

    }
    .leftpane .container-rating label{
   
        margin-left:30px !important;

    }
      .leftpane li{
          white-space:nowrap !important;
      }



}
@media only screen and (min-width: 1200px)and (max-width: 1230px)  {
    
  .leftpaneMobile{
    display:none !important;
  }
    .leftpane .leftpane-title {
      
        font-size:18px;

    }
    .leftpane .fw-bold {
       font-size:14px;

    }
    .leftpane label {
        font-size:14px;
       
    }
    
    .leftpane .range {
        font-size:13px;
    }
    .range .range-price .from ,    .range .range-price input {

        font-size:12px;
    }
    
    .leftpane .skill-container span {

        font-size:13px;
    }
   
      .leftpane li{
          white-space:nowrap !important;
      }


      .leftpane .leftpane-title {
        margin-left:80px !important;

    }
  
    .leftpane label {
    
        white-space:nowrap !important;
    }
    .leftpane .container-product {

  
        margin-left:60px !important;
    }
    .leftpane .container-level {

          margin-left:60px !important;
    }
     .leftpane .container-category .fw-bold {

         margin-left:60px !important;
    }
     .leftpane .container-category label {
      
      margin-left:60px !important;
       
    }
    

   
    .leftpane .container-duration {

        /*margin-left:2em;*/
          margin-left:60px !important;
    }
    .leftpane .container-language {

        /*margin-left:2em;*/
          margin-left:60px !important;
    }
    .leftpane .range {

        /*margin-left:2em;*/
          margin-left:60px !important;
      
    }
  
    .leftpane .skill-container {

        /*margin-left:2em;*/
          margin-left:60px !important;
    }
     .leftpane .container-rating .fw-bold{
        margin-left:60px !important;  
     }
   
 .container-certificate label,  .container-certificate .fw-bold{

     
          margin-left:50px!important;

    }
    .container-content label,  .container-content .fw-bold{

     
          margin-left:50px!important;

    }
    .leftpane .container-rating label{
   
        margin-left:60px !important;

    }
      .leftpane li{
          white-space:nowrap !important;
      }



}
@media only screen and (min-width: 1070px)  {
    .MobilePosts{
  display:none !important;
 }
    .tablet-mobile-view {
        display: none !important;
    }
    .intructorProfileMobile{
         display: none !important;  
    }
 
}

@media only screen and (max-width: 1070px)  {
    .activeUserPc , .userPc, .chartPc , .pcReview{
      display: none !important;  
    }
    .mobileReview i{
   margin-left:1.3em !important;
    }
    .mobileReview span{
        font-size:10px !important;
        color:#a8a5a5 !important;
        font-weight:400 !important;
    }
    .userMobile .fa-user{
      margin-left:0.7em !important;   
    }
    .chartMobile .bi-bar-chart{
      margin-left:1em !important;      
    }
     .intructorProfile{
         display: none !important;  
    }
     .intructorProfileMobile{
        margin-left:50px!important; 
       
    }
 
  .leftpane{
    display:none !important;
  }
  .leftpaneMobile1{
    
       display:block !important; 
  }
    



}

@media only screen and (min-width: 500px) and (max-width: 1070px)  {
#nav-bar {
 
  left: -0.1em;
  

 
}
}
@media only screen and (max-width: 500px)  {
#nav-bar {
 
  left: 0.5em;
  top: 25em;
 
}
}

@media only screen and (max-width: 400px)  {
#nav-bar {
 
  left: 0.5em;
  
 
}
}
@media only screen and (max-width: 380px)  {
#nav-bar {
 
  top:27em;
  
 
}
}



</style>
<style>
  @media only screen and (max-width: 500px)  {
     .navMobile  {
  
 width:100% !important;
  }
  .icon-hover{
    display:none;
  }
  .boxTitle91 h4{
    font-size:10px !important;
    margin-left:30px !important;

  }
    .filter-bar {
        padding: 2px 5px; 
        flex-direction: row; 
          margin: 0 auto; 
          padding-left:11px !important;
           width: 80% !important; 
    }

    .filter-button, .filter-coaching-button {
        padding: 5px 8px; 
        font-size: 8px; 
        width: 90px; 
    }
    .search-container1 .input-wrapper input {
        width: 150px;
    }

    .search-container1 .input-wrapper button {
        padding: 5px 8px; 
    }
     .search-container1{
        margin-right:15px !important;
       }
    #back-to-top{
      margin-right:15px !important;
    }
  .containerProduct {

 
     
    }
    .slide-container {
      
    }
 .hello{

 }


}

@media only screen and (max-width: 453px)  {
     .review-slider .justify-content-between img ,   .review-slider .justify-content-between i ,   .review-slider .justify-content-between span{
    display:none !important;
   }
    /*.review-slider .box {
    width:100% !important;
    padding-right:3px !important;
 
    }
      .review-slider  {
    width:100% !important;
    padding-right:0 !important;
    padding-left:5px;
    
    }*/
        .review-slider  .mr-3  .review-slider  h6 {
   font-size:10px !important;
    
    }
   

}
  html, body {
    overflow-x: hidden !important;
  }
@media only screen and (max-width: 349px)  {
  .instructorCards1{
   
      
  }
   .instructorCards{
    margin-right:10px !important;
    padding-right:10px !important;
  }
     .review-slider  {
    width:90% !important;

  
    
 
    }
     .review .review-slider .box {
      width:90% !important;
      left:10%;
   
   
      }
   

}
@media only screen and (max-width: 385px)  {
 
   .navMobile .text-white .categories {
  

 display:none !important;
  }

}



    </style>

<script>
    var swiper = new Swiper(".slide-content", {
      slidesPerView: 3,
      spaceBetween: 25,
      loop: true,
      centerSlide:'true',
      fade:'true',
      grabCursor:'true',
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: ".swiper-button-next1",
        prevEl: ".swiper-button-prev1",
      },

      breakpoints: {
        0: {
            slidesPerView : 1,
        },
        520: {
            slidesPerView : 2,
        },
        950: {
            slidesPerView : 3,
        },
      },
    });
  </script>
  <script>
    var swiper = new Swiper(".slide-content1", {
      slidesPerView: 3,
      spaceBetween: 25,
      loop: true,
      centerSlide:'true',
      fade:'true',
      grabCursor:'true',
      pagination: {
        el: ".swiper-pagination1",
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: ".swiper-button-next2",
        prevEl: ".swiper-button-prev2",
      },

      breakpoints: {
        0: {
            slidesPerView : 1,
        },
        720: {
            slidesPerView : 2,
        },
        950: {
            slidesPerView : 3,
        },
      },
    });
  </script>
   <script>
    var swiper = new Swiper(".slide-content2", {
      slidesPerView: 3,
      spaceBetween: 25,
      loop: true,
      centerSlide:'true',
      fade:'true',
      grabCursor:'true',
      pagination: {
        el: ".swiper-pagination3",
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: ".swiper-button-next3",
        prevEl: ".swiper-button-prev3",
      },

      breakpoints: {
        0: {
            slidesPerView : 1,
        },
        720: {
            slidesPerView : 2,
        },
        950: {
            slidesPerView : 3,
        },
      },
    });
  </script>
  <script>
    // Récupérer les éléments des filtres et des cartes
    const filters = document.querySelectorAll('input[name="categories1"]');
    const cards = document.querySelectorAll('.swiper-slide1');

    // Ajouter un écouteur d'événements à chaque filtre
    filters.forEach(filter => {
        filter.addEventListener('change', function() {
            // Récupérer la valeur du filtre sélectionné
            const selectedCategory = this.value;

            // Parcourir toutes les cartes
            cards.forEach(card => {
                // Récupérer la catégorie de la carte
                const cardCategory = card.dataset.category;

                // Vérifier si la carte correspond à la catégorie sélectionnée
                if (selectedCategory === 'All' || selectedCategory === cardCategory) {
                    // Afficher la carte
                    card.style.display = 'block';
                } else {
                    // Cacher la carte
                    card.style.display = 'none';
                }
            });
          
        });
    });
</script>
 <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Sélectionnez tous les boutons radio
        const radioButtons = document.querySelectorAll('input[type="radio"][name="categories2"]');

        // Écoutez les clics sur chaque bouton radio
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener("click", function() {
                // Récupérez la valeur de la catégorie sélectionnée
                const selectedCategory = this.value;

                // Sélectionnez tous les cards
                const cards = document.querySelectorAll('.card3');

                // Si la catégorie sélectionnée est "allCoaching", affichez tous les cards
                if (selectedCategory === "allCoaching") {
                    cards.forEach(function(card) {
                        card.style.display = 'block';
                    });
                } else {
                    // Sinon, affichez seulement les cards correspondants à la catégorie sélectionnée
                    cards.forEach(function(card) {
                        if (card.dataset.category === selectedCategory) {
                            card.style.display = 'block';
                        } else {
                            card.style.display = 'none';
                        }
                    });
                }
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Sélectionnez les boutons
        var listCoachingTabButton = document.getElementById("listCoaching-tab");
        var gridCoachingTabButton = document.getElementById("gridCoaching-tab");
        
        // Sélectionnez l'élément à masquer
        var tabContent = document.getElementById("gridCoaching-tab-pane");
        
        // Ajoutez un gestionnaire d'événements pour le clic sur le premier bouton
        listCoachingTabButton.addEventListener("click", function() {
            // Masquer l'élément en définissant son style sur "display: none;"
            tabContent.style.display = "none";
        });
        
        // Ajoutez un gestionnaire d'événements pour le clic sur le deuxième bouton
        gridCoachingTabButton.addEventListener("click", function() {
            // Afficher à nouveau l'élément en définissant son style sur "display: block;"
            tabContent.style.display = "block";
        });
    });
</script>





  <script>
      document.querySelectorAll('.star-checkbox').forEach(input => {
          input.addEventListener('change', function() {
              if (this.checked) {
                  // Trouver l'étiquette correspondante
                  const label = document.querySelector(`label[for="${this.id}"]`);
                  // Ajouter la classe "selected" aux étoiles de l'étiquette
                  label.querySelectorAll('.bi-star-fill').forEach(star => {
                      star.classList.add('selected');
                  });
              } else {
                  // Trouver l'étiquette correspondante
                  const label = document.querySelector(`label[for="${this.id}"]`);
                  // Supprimer la classe "selected" des étoiles de l'étiquette
                  label.querySelectorAll('.bi-star-fill').forEach(star => {
                      star.classList.remove('selected');
                  });
              }
          });
      });

  </script>
  <script>
     // Fonction pour masquer la classe tablet-mobile-view
    function hideTabletMobileView() {
        var tabletMobileView = document.querySelector('.tablet-mobile-view');
        if (tabletMobileView) {
            tabletMobileView.style.display = 'none'; // Masquer la classe tablet-mobile-view
        }
    }
      function showTabletMobileView() {
        var tabletMobileView = document.querySelector('.tablet-mobile-view');
        if (tabletMobileView) {
            tabletMobileView.style.display = 'block'; // Masquer la classe tablet-mobile-view
        }
    }
     function hideTabletMobileView1() {
        var tabletMobileView = document.querySelector('.tablet-mobile-view1');
        if (tabletMobileView) {
            tabletMobileView.style.display = 'none'; // Masquer la classe tablet-mobile-view
        }
    }
      function showTabletMobileView1() {
        var tabletMobileView = document.querySelector('.tablet-mobile-view1');
        if (tabletMobileView) {
            tabletMobileView.style.display = 'block'; 
        }
    }

    // Associer la fonction à plusieurs boutons
    document.getElementById('list-tab').addEventListener('click', hideTabletMobileView);
        document.getElementById('grid-tab').addEventListener('click', showTabletMobileView);
    document.getElementById('listCoaching-tab').addEventListener('click', hideTabletMobileView1);
        document.getElementById('gridCoaching-tab').addEventListener('click', showTabletMobileView1);
</script>
<script>
// Récupérer tous les boutons de navigation
const navButtons = document.querySelectorAll('.nav-button');

// Ajouter un écouteur d'événement à chaque bouton de navigation
navButtons.forEach(button => {
  button.addEventListener('click', () => {
    // Vérifier si le bouton actuel a déjà la classe "active"
    const isActive = button.classList.contains('active');

    // Supprimer la classe "active" de tous les boutons de navigation
    navButtons.forEach(btn => btn.classList.remove('active'));

    // Si le bouton actuel n'est pas déjà actif, ajouter la classe "active" à celui-ci
    if (!isActive) {
      button.classList.add('active');

      // Masquer tous les sous-produits
      navButtons.forEach(btn => {
        const subProducts = btn.querySelector('.sub-products');
        if (subProducts) {
          subProducts.classList.remove('show');
        }
      });

      // Récupérer le sous-produit associé à ce bouton
      const subProducts = button.querySelector('.sub-products');
      
      // Ajouter la classe "show" pour afficher les sous-produits de ce bouton
      if (subProducts) {
        subProducts.classList.add('show');
      }
    } else {
      // Si le bouton actuel est déjà actif, retirer la classe "show" pour fermer les sous-produits
      const subProducts = button.querySelector('.sub-products');
      if (subProducts) {
        subProducts.classList.remove('show');
      }
    }
  });
});


</script>